<!DOCTYPE html>
<html>
<head>
	<title>Personal Details</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<style type="text/css">
	body{
		background: url(https://cdn.pixabay.com/photo/2016/12/14/09/40/facebook-1905890__340.jpg);
	}
</style>
<body>
<div class="container">
	<div class="jumbotron">
  <h1 class="display-4">Koresh Personal Information</h1>
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1HvOaaH7zAinlynrPh4RA937iSZEqRtjn/view?usp=drivesdk" role="button">Adhar Card</a>
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1I3C9WTVhOIsU2UfCVEnG3vXXBvWU1oiM/view?usp=drivesdk" role="button">Pan Card</a>
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1HubybXcZ6sE6vOaHEt2_jjp0JaXWQ85h/view?usp=drivesdk" role="button">Driving License</a>
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1I33XMrs9mswIl4F0oHxJ7fFVsilpeEYx/view?usp=drivesdk" role="button">Voter Card</a>
</div>
</div></body>
</html>