<!DOCTYPE html>
<html>
<head>
	<title>Other</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<style type="text/css">
	body{
		background: url(https://cdn.pixabay.com/photo/2018/07/15/12/03/system-3539497__340.jpg);
	}
</style>
<body>
	<div class="container">
	<div class="jumbotron">
  <h1 class="display-4">Additional Certificates</h1>
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1I51zFqE6JCIKr1cVizM9IGRRBPiLbWuY/view?usp=drivesdk" role="button">Java,Python</a>
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/0B7Ug1z9w6w_MWGNJLUw4TEk2aUkxZW4tMEJiLW0tNVRueDgw/view?usp=drivesdk" role="button">Data Science</a>
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/0B7Ug1z9w6w_MZFlDY29vMGVqZlluR0FRdjRJMzJ5dk04UzFB/view?usp=drivesdk" role="button">Cloud Computing</a>
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/0B7Ug1z9w6w_MUTVzQ3lKZGNmbVEyZnhJOXA4cGNQN01jcHZz/view?usp=drivesdk" role="button">AWS</a><br><br>
  <a class="btn btn-primary btn-lg" href="" role="button">IOT</a>
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1I7cabWQGACF-jIlpSa9pPG1Cay7FuWp0/view?usp=drivesdk" role="button">Data Structures</a>
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1IA1-6PSWddpCJhDUrvF_zKf6NZAORoUY/view?usp=drivesdk" role="button">Mentoring Project</a>
</div>
</div>
</body>
</html>