<!DOCTYPE html>
<html>
<head>
	<title>Semesters</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<style type="text/css">
	body{
		text-align: center;
		background: url(https://cdn.pixabay.com/photo/2018/10/21/10/13/technology-3762558__340.jpg);
	}
	h1{
		color: red;
	}
</style>
<body>
	
	
  <h1  class="display-4">Semesters</h1>
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1HjRn4RpgQrIRRp4KEOr6vNPgbe7G5xxw/view?usp=drivesdk" role="button">Sem-1</a>
  <a class="btn btn-primary btn-lg" href="/edu/sem2" role="button">Sem-2
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1XQBsZLI3qWezhYtWP-0oSPu2WTO9mvAk/view?usp=drivesdk" role="button">Sem-3</a> 
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1HlJYzVWmB9h4HJA5D1BDt5H4_zCiyx7Q/view?usp=drivesdk" role="button">Sem-4</a><br><br>
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1io0_pNqSiIzvpaLxetdRZ2K9UQDz_fRT/view?usp=drivesdk" role="button">Sem-5</a>
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1LMzEdzZZWF5mmCE4r1wHz9JdIbgmkypp/view?usp=drivesdk" role="button">Sem-6</a>
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1HZKXqX-VA6K9k2ivU6Nm3mtiMSUiw-LI/view?usp=drivesdk" role="button">Sem-7</a>
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1HaeR1IkbFsIpzuCOgRdtERNnimhgTUsj/view?usp=drivesdkf" role="button">Sem-8</a>


</body>
</html>