<!DOCTYPE html>
<html>
<head>
	<title>Sem-2</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<style type="text/css">
  body{
    background: url(https://cdn.pixabay.com/photo/2018/10/21/10/08/technology-3762549__340.jpg);
  }
</style>
<body>
	<div class="container">
	<div class="jumbotron">
  <h1 class="display-4">Sem-2</h1>
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1HjxiU4b0tvwPyvPgfBZvgQCUxsqVXEKx/view?usp=drivesdk" role="button">Sem-2</a>
  <a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1HmBk2lwTMhXIzm96X0rURdo3dP9GBuZa/view?usp=drivesdk" role="button">Drawing</a><br><br>
</div>
</div>
</body>
</html>